<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.springboot.mapper.entity.UserInfoEntity">
    <id column="userid" jdbcType="NUMERIC" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="registerTime" jdbcType="TIMESTAMP" property="registertime" />
    <result column="popedom" jdbcType="VARCHAR" property="popedom" />
    <result column="headPortrait" jdbcType="VARCHAR" property="headPortrait" />
  </resultMap>
  <sql id="Base_Column_List">
    userid, username, `password`, telephone, registerTime, popedom, headPortrait
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where userid = #{userid,jdbcType=NUMERIC}
  </select>
  <select id="selectSelective" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    <where>
      <if test="USERNAME != null and USERNAME != ''">
        and username = #{USERNAME,jdbcType=VARCHAR}
      </if>
      <if test="PASSWORD != null and PASSWORD != ''">
        and password = #{PASSWORD,jdbcType=VARCHAR}
      </if>
      <if test="USERID != null and USERID != ''">
        and userid = #{USERID,jdbcType=NUMERIC}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_info
    where userid = #{userid,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" keyColumn="userid" keyProperty="userid" parameterType="com.example.springboot.mapper.entity.UserInfoEntity" useGeneratedKeys="true">
    insert into user_info (username, `password`, telephone,
      registerTime, popedom)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR},
      #{registertime,jdbcType=TIMESTAMP}, #{popedom,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="userid" keyProperty="userid" parameterType="com.example.springboot.mapper.entity.UserInfoEntity" useGeneratedKeys="true">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="registertime != null">
        registerTime,
      </if>
      <if test="popedom != null">
        popedom,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="registertime != null">
        #{registertime,jdbcType=TIMESTAMP},
      </if>
      <if test="popedom != null">
        #{popedom,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.springboot.mapper.entity.UserInfoEntity">
    update user_info
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="registertime != null">
        registerTime = #{registertime,jdbcType=TIMESTAMP},
      </if>
      <if test="popedom != null">
        popedom = #{popedom,jdbcType=VARCHAR},
      </if>
    </set>
    where userid = #{userid,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.springboot.mapper.entity.UserInfoEntity">
    update user_info
    set username = #{username,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      registerTime = #{registertime,jdbcType=TIMESTAMP},
      popedom = #{popedom,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=NUMERIC}
  </update>
</mapper>
